<div class="container">
    <table class="table table-striped">
        <tr>
            <th>Sl no.</th>
            <th>User Id</th>
            <th>Email</th>
            <th>Is Admin?</th>
            <th>Action</th>   
        </tr>
        
        <% User.all.each_with_index do |user, index| %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= user.id %></td>
                <td><%= user.email %></td>
                <td><%= user.is_admin %></td>
                <td>
                    <% if(!user.is_admin) %>
                        <%= link_to 'Delete', user_delete_path(:id => user.id), method: :delete, data: {confirm: 'Are you sure?' }, :class=>'btn btn-danger'%>
                    <% end %>
                </td>
            </tr>
        <% end %>

    </table>
</div>