<div class="container">

    <%= link_to 'Add Todo', new_todo_list_path, :class=>'btn btn-primary' %>
    <% if Current.user.is_admin?%>
        <%= link_to 'View User', user_list_path, :class=>'btn btn-primary' %>
    <% end %>
   
    <table class="table table-striped">
        <tr>
            <th>Sl no.</th>
            <th>Email</th>
            <th>Description</th>
            <th>Completed</th>
            <th>Action</th>
            <th></th>
            <th></th>
           
        </tr>
        
        <% if Current.user.is_admin?%>
            <% @todo_list.each_with_index do |todo, index| %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= User.find(todo.user_id).email %></td>
                    <td><%= todo.description %></td>
                    <td>
                        <%= todo.completed %>
                    </td>
                    <td>
                        <%= link_to 'Edit Todo', edit_todo_list_path(todo.id), :class=>'btn btn-primary' %>
                    
                        <%= link_to 'Show', todo_list_path(todo.id), :class=>'btn btn-success' %>
                    
                        <%= link_to 'Delete', todo_list_path(todo.id), method: :delete, data: {confirm: 'Are you sure?' }, :class=>'btn btn-danger'%>
                    </td>
                </tr>
            <% end %>
        
        <% else %>
            <% i = 0 %>
            <% Todolist.all.each do | todo | %>
                <% if(todo.user_id==Current.user.id) %>
                    
                    <% i += 1 %>
                    <tr>
                        <td><%= i %></td>
                        <td><%= User.find(todo.user_id).email %></td>
                        <td><%=todo.description %></td>
                        <td>
                            <%=todo.completed %>
                        </td>
                        <td>
                            <%= link_to 'Edit Todo', edit_todo_list_path(todo.id), :class=>'btn btn-primary' %>
                        </td>
                        <td>
                            <%= link_to 'Show', todo_list_path(todo.id), :class=>'btn btn-success' %>
                        </td>
                        <td>
                            <%= link_to 'Delete', todo_list_path(todo.id), method: :delete, data: {confirm: 'Are you sure?' }, :class=>'btn btn-danger'%>
                        </td>
                    </tr>
                <% end %>
            <% end %>
        <% end %>   
    </table>
</div>
